body {
    background-color: #0e0c15;
    font-family: 'Poppins', Arial, sans-serif;
    overflow-x: hidden;
}
.purple{
    color:#8a2be2 !important;
}

.gradient-btn {
    border: 2px solid transparent;
    background: linear-gradient(#1a1a2e, #1a1a2e) padding-box,
        linear-gradient(to right, #8a2be2, #6962aa65, #40e0d0, #8a2be2) border-box;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
   
}

.gradient-btn:hover {
    background: linear-gradient(#fefeff, #ffff) padding-box,
    linear-gradient(to right,  #8a2be2,#40e0d0, #8a2be2, #6962aa65) border-box;

    color: #550783;
}

/* Header Section CSS Start */

.navbar {
    padding: 16px;
}

.navbar-dark {
    background-color: #0e0c15;
}

.navbar-dark .home-link,
.features-link,
.getstarted-link,
.consulting-link,
.about-link,
.reg-link {
    color: white !important;
    margin-left: 1.2rem;
    font-size: larger;
    text-decoration: none;
}

.navbar-dark .home-link:hover,
.features-link:hover,
.getstarted-link:hover,
.consulting-link:hover,
.about-link:hover,
.reg-link:hover {
    color: #8a2be2 !important;
    border-bottom: 1px solid #8a2be2;
}

.login-btn {
    background: linear-gradient(to right, #a855f7, #6b21a8);
    border: none;
    padding: 10px 15px;
    color: white;
    margin-left: 1.2rem;
    transform: scale(1);
    transition: transform 0.3s ease, background 0.3s ease, border 0.3s ease;

}

.login-btn:hover {
    background: linear-gradient(to right, #6b21a8, #a855f7);
    border: 2px solid white;
    transform: scale(1.1);
    color: white;
}

.navbar-brand img {
    height: 3.6rem;
    object-fit: contain;
}

.content {
    padding: 100px 15px;
    text-align: center;
    overflow: hidden !important;
}

.navbar-collapse {
    flex-grow: unset;
}

/* Header Section CSS End */

/* Footer Section CSS Start */
footer {
    background: rgba(0, 0, 0, 0.274);
}
.footer-logo{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.nav-link:hover {
    color: #8a2be2 !important;
}
.gradient-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #682459, #3e0b4d, #6b01c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text:hover{
    background: linear-gradient(to right, #00ffaa, #007740, #00b368);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pointer{
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 992px) {

    .img-div {
        display: flex;
        justify-content: center;
    }

    .footer-logo{
        width: 50%;
        height:auto;
       display: inline-block;
      padding: 10px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .nav-logo{
        width: 160px ;
        }
        
    .img-div {
        display: flex;
        justify-content: center;
    }

    .footer-logo{
        width: 50%;
        height:auto;
       display: inline-block;
      padding: 10px;
    }

}

/* Footer Section CSS End */




/* Privacy Policy CSS Section Start */
.privacy-policy-body {
    background-color: #0e0c15;
    font-family: Arial, sans-serif;
    color: white;
}


.privacy-policy-heading-div {
    margin-top: 7rem;
}

.privacy-policy-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-weight: bold;
    color: white;
}

.privacy-policy-typewriter {
    display: flex;
    justify-content: center
}

#privacy-policy-text {
    color: #8a2be2;
}

.privacy-policy-header {
    padding: 20px;
    font-family: Arial, sans-serif;
    font-weight: 300;
}

.privacy-policy-heading-date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.privacy-policy-heading-paragraph {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.privacy-policy-email-link {
    color: #8a2be2;
    text-decoration: none;
}

.privacy-policy-email-link:hover {
    text-decoration: underline;
}

.privacy-policy-section {

    padding: 10px;
    margin-bottom: 15px;
}

.privacy-policy-section:hover {
    border-top: 2px solid #8a2be2;
    border-bottom: 2px solid #8a2be2;
}


.privacy-policy-section-title {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.privacy-policy-section-content {
    display: none;
    font-size: 1rem;
    line-height: 1.6;
}

.privacy-policy-section-content .paragraph {
    margin-bottom: 15px;
}

.section.open .privacy-policy-section-content {
    display: block;
}


.privacy-policy-custom-list {
    list-style-type: disc;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.privacy-policy-custom-list li {
    margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .privacy-policy-typewriter {
        flex-direction: column;
    }

    .privacy-policy-title {
        font-size: 2rem;
    }
}

/* Privacy Policy CSS Section End */

/* Latest News Section CSS Start */
.latest-news-heading-div {

    margin-top: 7rem;
}

.latest-news-title {

    font-size: 3.75rem;
    line-height: 1;
    color: #8a2be2;
    font-weight: bold;
    padding: 1.5rem;
}

.latest-news-container {

    margin: 0 1rem;
}

.latest-news-item {
    border: 2px solid transparent;
    transition: border 0.3s;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.latest-news-item:hover {
    border-top: 2px solid #8a2be2;
    border-bottom: 2px solid #8a2be2;
}

.latest-news-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #ccc;
}

.latest-news-text {
    display: flex;
    align-items: center;
}

.latest-news-icon {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

.latest-news-date {
    font-size: 1rem;
    color: #bbb;
    font-weight: bolder;
}

.latest-news-content {
    padding: 1rem;
    color: #ffffff;
}

/* Latest News Section CSS End */




/* terms and condition section CSS Start */
.terms-condition-icon {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

.terms-condition-paragraph {
    font-size: 1.25rem;
    margin-bottom: 15px;
    line-height: 1.6;
    padding: 0rem 3rem;
}

.terms-condition-headingrow {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #8a2be2;
    font-weight: 600;
}

.terms-condition-heading-date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.terms-condition-content {

    margin-top: 7rem;
}

.terms-condition-title {

    font-size: 2.25rem;
    color: white;
    font-weight: bold;
    margin-bottom: 4rem;
}

.terms-condition-accordion {
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.terms-condition-accordion-header {
    /* padding: 0.25rem;
    padding-top: 1.5rem; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 2.5rem;
    overflow: hidden;
}

.terms-condition-accordion-content.active {
    max-height: 500px;
    /* Adjust based on your content size */
}

.terms-condition-accordion-content {
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0;
}


@media screen and (max-width: 475px) {
    .terms-condition-title {
        font-size: 1.5rem;
    }

    .terms-condition-heading-date {
        font-size: 1rem;
    }

    .terms-condition-paragraph {
        font-size: 0.8rem;
        padding: 0rem 2rem;
    }

    .terms-condition-accordion-header {
        padding: 1rem;
    }

    .terms-condition-headingrow {
        font-size: 0.9rem;
        text-align: center;
    }

    .terms-condition-icon {
        display: none;
    }
}

@media (min-width: 475px) and (max-width: 575px) {
    .terms-condition-title {
        font-size: 1.5rem;
    }

    .terms-condition-heading-date {
        font-size: 1rem;
    }

    .terms-condition-paragraph {
        font-size: 0.8rem;
        padding: 0rem 2rem;
    }

    .terms-condition-accordion-header {
        padding: 1rem;
    }

    .terms-condition-headingrow {
        font-size: 0.9rem;
        text-align: center;
    }
}

/* terms and condition section CSS end */


/* FAQ's Section CSS Start */


.news-icon {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

.faqs-headingrow {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #8a2be2;
    font-weight: 600;
}

.faqs-paragraph {
    font-size: 1.25rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.faqs-content {

    /* padding: 50px 16px; */
    margin-top: 7rem;
}

.faqs-title {

    font-size: 2.25rem;
    color: white;
    font-weight: bold;
    margin-bottom: 4rem;
}

.faqs-accordion {
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.faqs-accordion-header {
    /* padding: 0.25rem;
    padding-top: 1.5rem; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 2.5rem;
    overflow: hidden;
}

.faqs-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding: 0 2rem;
}

.arrow {
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: end;
    align-items: center;
}

.arrow.open {
    transform: rotate(-180deg);
    color: #8a2be2;
    justify-content: flex-start;
}

.text-gray-300 {
    color: #9ca3af;
}

.my-3 {
    margin: 1rem 0;
}

.pt-51 {
    padding-top: 0.5rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

@media screen and (max-width: 475px) {
    .faqs-title {
        font-size: 1.5rem;
    }

    .faqs-paragraph {
        font-size: 0.8rem;
    }

    .faqs-accordion-header {
        padding: 1rem;
    }

    .faqs-headingrow {
        font-size: 0.9rem;
        text-align: center;
    }

    .news-icon {
        display: none;
    }
}

@media (min-width: 475px) and (max-width: 575px) {
    .faqs-title {
        font-size: 1.5rem;
    }

    .faqs-paragraph {
        font-size: 0.8rem;
    }

    .faqs-accordion-header {
        padding: 1rem;
    }

    .faqs-headingrow {
        font-size: 0.9rem;
        text-align: center;
    }
}

/* @media only screen and (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }

    .faqs-accordion-header {
        padding: 0px;
        padding-top: 1.5rem;
    }

    .faqs-headingrow {
        font-size: 1rem;
    }
} */



/* FAQ's Section CSS End */




/* Privacy Policy CSS Section Start */
.privacy-policy-body {
    background-color: #0e0c15;
    font-family: Arial, sans-serif;
    color: white;
}

.privacy-policy-cursor {
    font-weight: bold;
    font-size: 1.5rem;
    color: #8a2be2;
    animation: blink 0.6s steps(1, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.privacy-policy-heading-div {
    margin-top: 7rem;
}

.privacy-policy-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-weight: bold;
    color: white;
}

.privacy-policy-typewriter {
    display: flex;
    justify-content: center
}

#privacy-policy-text {
    color: #8a2be2;
}

.privacy-policy-header {
    padding: 20px;
    font-family: Arial, sans-serif;
    font-weight: 300;
}

.privacy-policy-heading-date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.privacy-policy-heading-paragraph {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.privacy-policy-email-link {
    color: #8a2be2;
    text-decoration: none;
}

.privacy-policy-email-link:hover {
    text-decoration: underline;
}

.privacy-policy-section {

    padding: 10px;
    margin-bottom: 15px;
}

.privacy-policy-section:hover {
    border-top: 2px solid #8a2be2;
    border-bottom: 2px solid #8a2be2;
}


.privacy-policy-section-title {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.privacy-policy-section-content {
    display: none;
    font-size: 1rem;
    line-height: 1.6;
}

.privacy-policy-section-content .paragraph {
    margin-bottom: 15px;
}

.section.open .privacy-policy-section-content {
    display: block;
}


.privacy-policy-custom-list {
    list-style-type: disc;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.privacy-policy-custom-list li {
    margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .privacy-policy-typewriter {
        flex-direction: column;
    }

    .privacy-policy-heading-date,
    .privacy-policy-heading-paragraph {
        font-size: 0.8rem;
    }

    .privacy-policy-title {
        font-size: 1.3rem;
    }

    .privacy-policy-section-title {
        font-size: 1rem;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .privacy-policy-title {
        font-size: 1.8rem;
    }
}

/* Privacy Policy CSS Section End */



/* Latest News Section CSS Start */
.latest-news-heading-div {
    margin-top: 7rem;
}

.latest-news-title {

    font-size: 3.75rem;
    line-height: 1;
    color: #8a2be2;
    font-weight: bold;
    padding: 1.5rem;
}

.latest-news-container {

    margin: 0 1rem;
}

.latest-news-item {
    border: 2px solid transparent;
    transition: border 0.3s;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.latest-news-item:hover {
    border-top: 2px solid #8a2be2;
    border-bottom: 2px solid #8a2be2;
}

.latest-news-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #ccc;
}

.latest-news-text {
    display: flex;
    align-items: center;
}

.latest-news-icon {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

.latest-news-date {
    font-size: 1rem;
    color: #bbb;
    font-weight: bolder;
}

.latest-news-content {
    padding: 1rem;
    color: #ffffff;
}

@media (min-width:320px) and (max-width:768px) {

    .latest-news-text,
    .latest-news-header {
        flex-direction: column;
        align-items: start;
    }

    .latest-news-icon {
        display: none;
    }

    .latest-news-content {
        padding: 0px;
        font-size: 12px;
    }

    .latest-news-title {
        font-size: 2rem;
    }
}

/* Latest News Section CSS End */


/* Blog Page Section CSS Start */

.blog-section {
    margin-top: 7rem;
    color: white;
}

h1 {
    margin: 0;
}

.container {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 90%;
    box-shadow: 0 0 24px rgba(34, 42, 53, 0.06);
}

.timeline-item h2 {
    font-size: 1.5em;
}

.timeline-item p {
    margin-bottom: 16px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.timeline-item img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 24px rgba(34, 42, 53, 0.06);
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.timeline-icon {
    width: 24px !important;
    height: auto;
    margin-right: 10px;
    margin-bottom: 7px;
    background-color: white;
    border-radius: 50% !important;
    padding: 5px;
}

/* Blog Page Section CSS End */




/* ---------------------------------Home page start--------------------------------- */




/* 5-logos section start */
.img-fluid-5-logos{
    height: 50px;
}

/* home benefits-card section start */
.benefit-card {
    border: 1px solid transparent;
    border-radius: 11px;
    background: linear-gradient(#0e0c14, #0e0c14), linear-gradient(to right, #8a2be2, #9c2278, #8a2be2);
    background-clip: padding-box, border-box;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(79, 0, 153, 0.432);
    display: flex;
    flex-direction: column;
    height: 300px;
    position: relative;
}

.feature-benefit-icons {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.explore-more {
    display: flex;
    align-items: center;
    font-weight: 100;
    color: #8a2be2;
}

.arrow-icon {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.benefit-card h1{
    color: white;
    font-size: 25px;
}

.benefit-card p{
    color: rgba(255, 255, 255, 0.61);
    font-size: 16px;
    padding-top: 12px;
}

/*  */




/* stright line with text start */
.gradient-line {
    width: 4px;
    height: 80%; /* Adjusted height to fit within content */
    background: linear-gradient(to bottom, #009ca0, #6c757d);
    display: inline-block;
  }
  .content-wrapper {
    display: flex;
    align-items: center;
  }
  .content-left, .content-right {
    padding: 20px;
    flex: 1;
  }
  
/* stright line with text start */

/* Login & registration page styling end */
 
/* create Micro Services */
.createmicro-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.createmicro-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.createmicro-hero {
   
    bottom: 2rem; /* Adjust as needed */
    width: 90%;
}
.createmicro-message {
    margin-top: 1rem;
    color: #28a745; /* Bootstrap success color */
}


/* dashboard */

.dashboard-hero {
    color: #fff;
    min-height: 100vh;
    margin-top: 120px; /* Adjust according to navbar height */
}
.dashboard-section {
    padding: 2rem;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    margin-bottom: 1rem;
}
.dashboard-project-card {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Dashboard end */

.gradient-btn-sunset {
    border: 2px solid transparent;
    background: linear-gradient(#1a1a2e, #1a1a2e) padding-box,
        linear-gradient(to right, #ff7e5f, #feb47b) border-box;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.gradient-btn-sunset:hover {
    background: linear-gradient(#fefeff, #ffff) padding-box,
        linear-gradient(to right, #ff7e5f, #feb47b) border-box;
    color: #c77d00;
}
.gradient-btn-forest {
    border: 2px solid transparent;
    background: linear-gradient(#1a1a2e, #1a1a2e) padding-box,
        linear-gradient(to right, #4caf50, #66bb6a, #388e3c) border-box;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.gradient-btn-forest:hover {
    background: linear-gradient(#fefeff, #ffff) padding-box,
        linear-gradient(to right, #4caf50, #66bb6a, #388e3c) border-box;
    color: #005005;
}

.gradient-btn-crimson {
    border: 2px solid transparent;
    background: linear-gradient(#1a1a2e, #1a1a2e) padding-box,
        linear-gradient(to right, #ff4d4d, #ff9999) border-box;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.gradient-btn-crimson:hover {
    background: linear-gradient(#fefeff, #ffff) padding-box,
        linear-gradient(to right, #ff4d4d, #ff9999) border-box;
    color: #780000;
}
.gradient-btn-cherry {
    border: 2px solid transparent;
    background: linear-gradient(#1a1a2e, #1a1a2e) padding-box,
        linear-gradient(to right, #ff7f50, #ffb6c1) border-box;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.gradient-btn-cherry:hover {
    background: linear-gradient(#fefeff, #ffff) padding-box,
        linear-gradient(to right, #ff7f50, #ffb6c1) border-box;
    color: #5c0000;
}

/* Edit Microservice Start */

.edit-header, .edit-footer { background: #333; color: white; }
.edit-container { margin-top: 100px; 
color: white;
 }
.edit-class { border: 1px solid #ccc; border-radius: 5px; padding: 20px;margin: 20px; }
.edit-button { background-color: #007bff; color: white; }
/* Edit end */


/* Project dashboard started*/

.project-dashboard-title {
    margin-top: 120px;
    color: white;
}
.project-microservice-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.project-button {
    margin-right: 10px;
}
.project-assembly-section {
    padding: 20px;
    margin: 20px;

    border: 1px solid #dee2e6;
    border-radius: .375rem;
    margin-top: 20px;
}
/* Project Dashboard end */
/* complete start */
.completemicro-container { padding: 24px; 

    margin-top: 110px;
}
        .completemicro-status { margin-bottom: 16px; padding: 16px; border-radius: 4px; }
        .completemicro-button { padding: 8px 16px; border-radius: 4px; }
        .completemicro-success { background-color: #d1e7dd; color: #0f5132; }
        .completemicro-failure { background-color: #f8d7da; color: #842029; }
